.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.bg-dark{
    color: rgb(255, 255, 255);
}
a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::placeholder{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
